<!DOCTYPE html>
<html>
<head>
    <title>Display PDF</title>
</head>
<body>
    <h1>Display PDF using iframe</h1>
    <iframe src= "<% application.files %>" width="600" height="500"></iframe>
    <!-- <% 
        application.files
     %> -->
</body>
</html>
